/* Background Image Utility */
body {
    background-image: url('../images/bg_image1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
}
