:root {

  /* FONT SYSTEM */

  --font-primary: 'DM Sans', system-ui, sans-serif;

  --fw-body: 400;
  --fw-body-strong: 500;

  --fw-heading-alt: 500;
  --fw-heading: 600;
  --fw-heading-strong: 700;

  --line-height-base: 1.4;

  /* COLOR SYSTEM */

  /* Brand */
  --color-primary: #000000;
  --color-secondary: #DD2F10;

  /* Text */
  --color-heading: #000000;
  --color-body-primary: #3A3A3A;
  --color-body-secondary: #000000;
  --color-body-tertiary: #565656;
  --color-link: #BB1C00;
  --color-error: #BB1C00;

  /* Buttons */
  --btn-primary-bg: #000000;
  --btn-primary-border: #000000;
  --btn-primary-text: #FFFFFF;

  --btn-primary-outline-bg: #FFFFFF;
  --btn-primary-outline-border: #000000;
  --btn-primary-outline-text: #000000;

  --btn-secondary-bg: #DD2F10;
  --btn-secondary-border: #DD2F10;
  --btn-secondary-text: #FFFFFF;

  --btn-tertiary-bg: #3279B7;
  --btn-tertiary-border: #3279B7;
  --btn-tertiary-text: #FFFFFF;

  --btn-tertiary-outline-bg: #FFFFFF;
  --btn-tertiary-outline-border: #3279B7;
  --btn-tertiary-outline-text: #3279B7;

  /* LAYOUT SYSTEM */
  --container-max-width: 1180px;
  --container-padding-x: 16px;

  --section-spacing-y: 50px;
}
